body,
html {
  background-color: #ffd1dc;
}

@media only screen and (max-width: 1069px) {
  .downphoto {
    display: none;
  }

  .upphoto {
    display: none;
  }

  .wordlist {
    font-size: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  nav ul li {
    text-align: center;
    display: block;
  }

  ul li {
    display: block;
    font-weight: bolder;
    font-style: italic;
  }

  .dontsmash {
    min-width: 0px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .profile {
    border-radius: 100%;
    width: 300px;
  }
}

@media only screen and (min-width: 1070px) {
  .dontsmash {
    min-width: 1070px;
  }

  .wordlist {
    font-size: 20px;
    padding-left: 90px;
    padding-right: 90px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  nav ul li {
    text-align: center;
    display: inline;
    padding: 20px;
  }

  ul li {
    display: inline;
    font-weight: bolder;
    font-style: italic;
    padding: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .profile {
    border-radius: 100%;
    width: 400px;
  }
}

h1 {
  padding-left: 10%;
  color: white;
  font-style: italic;
  font-style: oblique;
  opacity: 50%;
  font-size: 40px;
}

h2 {
  padding-left: 10%;
  color: white;
  font-style: italic;
  font-style: oblique;
  opacity: 60%;
  font-size: 30px;
}

p {
  padding-left: 20%;
  padding-right: 20%;
  fontsize: 20px;
  max-width: 800px;
  min-width: 200px;
  color: grey;
}

.centeringdiv {
  text-align: center;
}

.customerservice {
  text-align: left;
  font-style: italic;
  padding-top: 10%;
  paddingbottom: 10%;
}

.wordlist {
  font-size: 20px;
  padding-left: 90px;
  padding-right: 90px;
}

.downphoto {
  width: 200px;
  height: 200px;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.upphoto {
  width: 200px;
  height: 200px;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.freedom {
  padding-left: 10%;
  color: white;
  font-style: italic;
  font-style: oblique;
  opacity: 40%;
  font-size: 40px;
}

.whynot {
  position: absolute;
  top: 20%;
  left: 30%;
  color: white;
  font-style: italic;
  font-style: oblique;
  opacity: 50%;
  font-size: 40px;
}

.harm {
  position: absolute;
  top: 60%;
  left: 40%;
  color: white;
  font-style: italic;
  font-style: oblique;
  opacity: 50%;
  font-size: 40px;
}

a {
  color: white;
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
}

#triangle-entrance {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 200px solid white;
}

form label {
  padding: 40%;
  max-width: 800px;
  min-width: 200px;
  font-size: 15px;
  color: grey;
}

form textarea {
  border: 2px solid grey;
  border-radius: 7px;
}

.thumb {
  width: 130px;
}
